# Raspberry Pi hardware dependencies — only installable on Pi / Linux ARM
pimoroni-bme280
adafruit-circuitpython-rfm9x
adafruit-circuitpython-ads1x15
adafruit-blinka
rpi-lgpio
gpiozero
luma.oled
pyftdi