pimoroni-bme280
adafruit-circuitpython-rfm9x
adafruit-blinka
rpi-lgpio
gpiozero
pytest

# Camera/OCR dependencies (on Pi, prefer apt packages for faster install):
# sudo apt install python3-picamera2 python3-opencv python3-numpy python3-pil -y
#opencv-python
#numpy
#Pillow
#picamera2