[Unit]
Description=Data Logger Service
After=network.target

[Service]
Type=simple
ExecStartPre=/bin/sleep 15
ExecStart=/bin/bash -c '@REPO@/.venv/bin/python @REPO@/scripts/logger.py --csv_file=@REPO@/logs/$(date +%%d_%%m_%%Y__%%H_%%M_%%S)___datalog.csv'
User=@USER@
WorkingDirectory=@REPO@

[Install]
WantedBy=multi-user.target
