[Unit]
Description=Radio Temperature Sender
After=network.target

[Service]
Type=simple
ExecStartPre=/bin/sleep 15
ExecStart=/bin/bash -c '@REPO@/.venv/bin/python @REPO@/scripts/radio_test.py --send'
User=@USER@
WorkingDirectory=@REPO@

[Install]
WantedBy=multi-user.target
