{
    "node_id": "pz2w2-shop",
    "sensors": [
        {"class": "BME280TempPressureHumidity", "config": {"smbus": 1}},
        {"class": "MMA8452Accelerometer"}
    ],
    "broadcast_interval_sec": 5,
    "lora": {
        "frequency_mhz": 915.0,
        "tx_power": 23,
        "cs_pin": 24,
        "reset_pin": 25
    }
}
