{
    "node_id": "pz2w2-shop",
    "sensors": [
        {
            "class": "BME280TempPressureHumidity",
            "config": {"smbus": 1},
            "interval_sec": 60
        },
        {
            "class": "MMA8452Accelerometer",
            "interval_sec": 1
        }
    ],
    "default_sensor_interval_sec": 30,
    "lora": {
        "frequency_mhz": 915.0,
        "tx_power": 23,
        "cs_pin": 24,
        "reset_pin": 25
    },
    "display": {
        "enabled": true,
        "advance_switch_pin": 16,
        "action_switch_pin": 26,
        "i2c_port": 1,
        "i2c_address": 60,
        "refresh_interval": 0.5
    },
    "arducam": {
        "enabled": true,
        "size": "4056x3040",
        "flip": true
    },
    "command_receiver": {
        "enabled": true,
        "receive_timeout": 0.1
    }
}
